node_modules

data/backup
data/development/images
data/development/userData/photos
data/development/serverData
data/development/workingData
data/staging
data/production
logs

.env
.editorconfig
.eslintrc.js
.prettierignore
jsconfig.json
